on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

name: Deploy React to Amazon EC2 
env:
  PROJECT_NAME: board-app

jobs:
  deploy:
    name: DEPLOY
    runs-on: ubuntu-18.04

    steps:
      - name: Checkout source code. # Repo checkout
        uses: actions/checkout@v2

      - name: Check Node v # Node v 확인
        run: node -v

      - name: Install Dependencies # 의존 파일 설치
        run: npm install --frozen-lockfile

      - name: Build # React Build
        run: npm run build

      - name: Deploy # Deploy to S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws s3 cp \
            --recursive \
            --region us-east-1 \
            build s3://board-app-bucket-1